%h1 Salut !

%details
  %summary J'ai pas mal de bouquins chez moi
  = image_tag "books.jpg", style: "max-width: 100%"

%p Je vais m'en séparer !

%p S'ils y en a qui te plaisent, dis-le moi et je te les met de côté.

= link_to books_path, class: 'btn' do
  %b Réserver un livre
