%turbo-frame{id: dom_id(book)}
  - if book.is_claimed?
    - if can_unclaim
      = link_to "Restituer", unclaim_book_path(book.id), data: { turbo_method: "post" }, class: 'btn'
    - else
      = button_tag "Réserver", type: 'button', disabled: true, class: 'btn'

  - else
    -# = link_to "Réserver", claim_book_path(book.id), data: { turbo_method: "post" }, id: "claim_#{dom_id(book)}"
    = button_to "Réserver", claim_book_path(book.id), method: :post, class: 'btn'
